<app-header-section></app-header-section>

<div class="container">
    <div class="container-2">
        <img [src]="LOGO_IMAGE_ASSET" alt="logo" class="logo">
        <h2 class="text-center" style="color: white;">Sistema de Planificación Académica</h2>
    </div>
    <div class="container-1">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <img [src]="LOGO_IMAGE_ASSET" alt="logo" class="logo-min">
            <span style="font-weight: bold;">Inicio de sesión</span>

            <form [formGroup]="loginFormGroup" class="login-container">
                <mat-form-field>
                  <span>Enter your password</span>
                  <input matInput formControlName="username" type="text" />
                  <input matInput formControlName="password" [type]="isPasswordVisible ? 'password' : 'text'" />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="changePasswordVisibility()"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="changePasswordVisibility()">
                    <mat-icon>{{isPasswordVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
            </form>


        </div>
    </div>
</div>

<app-footer-section></app-footer-section>
